<div class="container">
  <h2 class="mb-4 text-center nominee-header">
    <mat-icon class="header-icon">person</mat-icon> Customer Basic Details
  </h2>
  <form (ngSubmit)="nextStep()" #nomineeForm="ngForm">
    <mat-grid-list cols="2" rowHeight="90px" gutterSize="16px">

      <!-- Owner ID -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.firstName" name="firstName" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee Reference Number -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.lastName" name="lastName" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Owner Type -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Father's Name</mat-label>
          <input matInput type="number" [(ngModel)]="customerDto.fatherName" name="fatherName" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Sequence Number -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mother's Name</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.motherName" name="motherName" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee Share -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.mail" name="mail" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee Type -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.mobileNumber" name="mobileNumber" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee First Name -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Status</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.status" name="status" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Date of Birth</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.dateOfBirth" name="dateOfBirth" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Onboarding Date</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.onboardingDate" name="onboardingDate" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Customer Closing Date</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.custClsngDt" name="custClsngDt" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Risk Profile</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.riskProfile" name="riskProfile" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Rating Agency</mat-label>
          <input matInput type="text" [(ngModel)]="customerDto.ratingAgency" name="ratingAgency" />
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <!-- Submit Button -->
    <div class="text-center mt-4">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>