<div class="container">
  <h2 class="mb-4 text-center nominee-header">
    <mat-icon class="header-icon">description</mat-icon> Document Details
  </h2>  
  <form (ngSubmit)="nextStep()" #nomineeForm="ngForm">
    <mat-grid-list cols="2" rowHeight="90px" gutterSize="16px">
      
      <!-- Owner ID -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Customer ID</mat-label>
          <input matInput type="number" [(ngModel)]="docDto.custId" name="custId" required />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee Reference Number -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Document Description</mat-label>
          <input matInput type="number" [(ngModel)]="docDto.docDescription" name="docDescription" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Owner Type -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Identification Number</mat-label>
          <input matInput type="number" [(ngModel)]="docDto.docIdentificationNumber" name="docIdentificationNumber" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Sequence Number -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Document Type</mat-label>
          <input matInput type="number" [(ngModel)]="docDto.docType" name="docType" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee Type -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Issue Date</mat-label>
          <input matInput type="number" [(ngModel)]="docDto.issueDate" name="issueDate" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nominee First Name -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Expiry Date</mat-label>
          <input matInput type="text" [(ngModel)]="docDto.expiryDate" name="nomineeFirstName" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Submit Button -->
    <div class="text-center mt-4">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
