.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

.payment-wrapper {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
}

mat-card-title, .title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.card-details-head {
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.accepted-cards {
  margin-bottom: 20px;
}

.card-logos img {
  width: 50px;
  margin-right: 10px;
}

.card-input-wrapper {
  position: relative;
}

.card-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: auto;
}

.full-width {
  width: 100%;
}

.expiry-cvv-row {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 10px;
}

.expiry-cvv-row mat-form-field {
  flex: 1;
}

button[mat-raised-button] {
  margin-top: 20px;
}

.qr-section {
  margin-top: 16px;
  text-align: center;
}

.qr-container {
  margin-top: 16px;
}

.payment-option-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-option {
  font-weight: 500;
}

.payment-methods {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: left;
  // width: 200px;             /* adjust card width */
  height: 60px;            /* adjust card height */
  // margin: 10px;
  padding: 16px;
  border: 1px solid #e0e0e0 !important;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* hover effect */
.payment-methods:hover {
  border-color: #3f51b5; /* Material primary color */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

/* when selected */
.payment-methods.mat-radio-checked {
  border-color: #3f51b5;
  background-color: #f3f6ff;
  box-shadow: 0 4px 12px rgba(63, 81, 181, 0.3);
}


.child-options {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.child-options label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.child-options .mat-mdc-radio-group {
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 8px; /* optional space between items */
}

.child-options .mat-mdc-radio-button {
  margin: 0; /* remove extra gaps from Material defaults */
}

.card-details {
  padding: 0px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 20px;
}

.billing-address {
  padding-top: 10px;
}