<mat-dialog-content class="error-dialog">
  <div class="icon-container">
    <mat-icon *ngIf="data.type === 'Error'" class="error-icon">error</mat-icon>
    <mat-icon *ngIf="data.type === 'Warning'" class="warning-icon">warning</mat-icon>
  </div>

  <h2 class="dialog-header">{{ data.type }}</h2>

  <div class="error-message-box">
    <p><strong>{{ data.errorId }}:</strong> {{ data.errorMessage }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="warn" class="close-btn" (click)="closeDialog()">Close</button>
</mat-dialog-actions>
