<div class="container">
  <h2 class="mb-4 text-center nominee-header">
    <mat-icon class="header-icon">home</mat-icon>Customer Address Details
  </h2>
  <form (ngSubmit)="nextStep()" #nomineeForm="ngForm">
    <mat-grid-list cols="2" rowHeight="90px" gutterSize="16px">

      <!-- Owner ID -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Customer ID</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.customerID" name="customerID" required />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Address Type -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address Type</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.addressType" name="addressType" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Owner Type -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address Line-1</mat-label>
          <input matInput type="number" [(ngModel)]="customerAddress.addressLn1" name="addressLn1" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Sequence Number -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address Line-2</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.addressLn2" name="addressLn2" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- City -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>City</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.city" name="city" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Village -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Village</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.village" name="village" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- District -->
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>District</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.district" name="district" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>State</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.state" name="state" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Pin Code</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.pinCode" name="pinCode" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Last Update</mat-label>
          <input matInput type="text" [(ngModel)]="customerAddress.lastUpdate" name="lastUpdate" />
        </mat-form-field>
      </mat-grid-tile>

      <!-- <mat-grid-tile>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of Capture</mat-label>
      <input matInput type="text" [(ngModel)]="customerAddress.dateOfCapture" name="dateOfCapture" />
    </mat-form-field>
    </mat-grid-tile>  	   -->

    </mat-grid-list>

    <!-- Submit Button -->
    <div class="text-center mt-4">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>