.data-item {
    display: flex;
    justify-content: space-between;  /* Aligns key & value in a row */
    align-items: center;
    width: 80%;
    padding: 4px 8px;
    overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .section-card {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
  }
  
  .key {
    font-weight: bold;
    color: #333;
    flex: 1; /* Takes up space on the left */
    min-width: 150px;

  }
  
  .value {
    flex: 1; /* Takes up space on the right */
    text-align: right;
    color: #555;
  }
  
  .nomineetable {
    width: 100%;
    border-collapse: collapse;
    background-color:rgb(233, 233, 233);
  }