.data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    overflow: hidden;
  text-overflow: ellipsis;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
  }
  

  .nominee-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: lightcoral;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .section-card {
    margin: 8px 0;
    padding: 0px;
    border: 1px solid lightblue;
    background-color: rgb(233, 233, 233);
  }
  
  .key {
    font-weight: bold;
    color: #333;
    flex: 1; /* Takes up space on the left */
    min-width: 150px;

  }
  
  .value {
    flex: 1; /* Takes up space on the right */
    text-align: right;
    color: #555;
  }
  
  .nomineetable {
    width: 100%;
    border-collapse: collapse;
    background-color:rgb(233, 233, 233);
  }

  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem ;
    font-weight: bold ;
    color: rgb(12, 4, 4) !important;
    background: #86b3e1;
    padding: 12px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }