<mat-dialog-content class="error-dialog">
  <div class="icon-container">
    @if (data.type === 'Error') {
      <mat-icon class="error-icon">error_outline</mat-icon>
    }
    @if (data.type === 'Warning') {
      <mat-icon class="warning-icon">warning_amber</mat-icon>
    }
  </div>

  <h2 class="dialog-header">{{ data.type }}</h2>

  <div class="error-message-box">
    <p><strong>{{ data.errorId }}:</strong> {{ data.errorMessage }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" class="close-btn" (click)="closeDialog()">
    <mat-icon>close</mat-icon>&nbsp; Close
  </button>
</mat-dialog-actions>
